<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Study Boost!</h1>
  <p class="lead">Através da disponibilização de um banco de dados de periódicos relacionando qualis e áreas de conhecimento, esperamos poder ajudar na sua escolha para publicação.</p>
  <hr class="my-4">
  <p>Última funcionalidade adicionada: cadastro de referências bibliográficas para usuários registrados -- consiste no cadastro de referências bibliográficas para serem utilizadas posteriormente na escrita de artigos ou monografias.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Veja mais sobre a nova funcionalidade</a>
  </p>
</div>