<h1>Sobre o projeto</h1>
<p>Este projeto foi criado com o intuíto de facilitar a busca por periódicos para publicações, relacionando áreas do conhecimento e qualis, além de facilitar o arquivamento de 
referências bibliográficas.</p>


<h1> Perguntas frequentes: </h1>

<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala?</p><br>
<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala</p><hr>

<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala?</p><br>
<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala</p><hr>

<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala?</p><br>
<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala</p><hr>

<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala?</p><br>
<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala</p><hr>

<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala?</p><br>
<p>Lorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalalaLorem ipsum lalala</p><hr>