<h1>Sobre o projeto</h1>
<p style="font-size: 18px;">Projeto criado com o intuíto de facilitar a busca por periódicos para publicações, relacionando áreas do conhecimento e qualis, além de facilitar o arquivamento de 
referências bibliográficas. </p>

<p style="font-size: 18px;">Projeto em desenvolvimento incremental, existem melhorias sendo implementadas, e também novas funcionalidades sendo adicionadas periodicamente.</p>


<hr>
<h2 style="text-align: center;"> Perguntas Frequentes </h2>
<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Pergunta: Qual a finalidade do projeto?
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Resposta:</b> A principal ideia do projeto é a de disponibilizar de forma intuitiva e de fácil acesso um banco de dados com os periódicos cadastrados na CAPES inicialmente, de forma a aumentar esta base em um futuro próximo, e possibilitando a busca por periódicos relacionando áreas e sub-áreas de conhecimento com Qualis, tornando mais fácil a busca por periódicos para publicações.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Pergunta: Sobre a metodologia de desenvolvimento?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Resposta:</b> O projeto foi desenvolvido como Trabalho de Conclusão de Curso no curso de Especialização em Aplicações Web pela Universidade Federal do Rio Grande, foi utilizada a metodologia BDD (Behavior Driven Development) para o planejamento e descrição das funcionalidades, e foram implementados testes nos diversos níveis da aplicação.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Pergunta: Projetos similares?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Resposta:</b> O próprio site do Periódicos Capes possibilita a busca por periódicos, porém não possibilita o relacionamento de áreas de conhecimento com Qualis. Além da principal funcionalidade da aplicação, novas funcionalidades com o intuíto em auxiliar a vida acadêmica irão ser adicionadas regularmente.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Pergunta: Existe uma intenção de expansão de funcionalidades e integrações futuras?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Resposta:</b> Sim, as principais funcionalidades já implementadas foram a busca por periódicos relacionando áreas de conhecimento e Qualis, e o cadastro de referências bibliográficas para usuários cadastrados, porém novas funcionalidades com o intuito de auxiliar em organização e auxílio acadêmico serão adicionadas.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--container-->