<h1>Editando Referência</h1>

<%= render 'form', reference: @reference %>

<%= link_to 'Mostrar', @reference, class: 'btn btn-primary btn-lg btn-block' %>
<%= link_to 'Voltar', references_path, class: 'btn btn-warning btn-lg btn-block' %>
